#aries {
  position: absolute;
  background-image: url('/ressources/images/aries.png');
  background-size: cover;

  height: 200px;
  width: 200px;

  left: 650px;
  z-index: +2;
}

#taurus {
  position: absolute;
  background-image: url('/ressources/images/taurus.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1200px;
  z-index: +2;
}

#gemini {
  position: absolute;
  background-image: url('/ressources/images/gemini.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1650px;
  top: 180px;
  z-index: +2;
}

#cancer {
  position: absolute;
  background-image: url('/ressources/images/cancer.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1790px;
  top: 650px;
  z-index: +2;
}

#leo {
  position: absolute;
  background-image: url('/ressources/images/leo.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1800px;
  top: 1150px;
  z-index: +2;
}

#virgo {
  position: absolute;
  background-image: url('/ressources/images/virgo.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1650px;
  top: 1600px;
  z-index: +2;
}

#libra {
  position: absolute;
  background-image: url('/ressources/images/libra.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1200px;
  top: 1790px;
  z-index: +2;
}

#scorpio {
  position: absolute;
  background-image: url('/ressources/images/scorpio.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 650px;
  top: 1790px;
  z-index: +2;
}

#sagittarus {
  position: absolute;
  background-image: url('/ressources/images/sagittarus.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 200px;
  top: 1600px;
  z-index: +2;
}

#capricornus {
  position: absolute;
  background-image: url('/ressources/images/capricornus.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  top: 1150px;
  z-index: +2;
}

#aquarius {
  position: absolute;
  background-image: url('/ressources/images/aquarius.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  top: 650px;
  z-index: +2;
}
#pisces {
  position: absolute;
  background-image: url('/ressources/images/pisces.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 200px;
  top: 180px;
  z-index: +2;
}

#playGround > div:not(.universe):hover {
  filter: brightness(1.3);
  cursor: pointer;
}
/* --------------------ursa minor--------------------- */
/* --------------------ursa minor--------------------- */
/* --------------------ursa minor--------------------- */
#polaris {
  position: absolute;

  height: 105px;
  width: 105px;

  top: 925px;
  left: 950px;

  border-radius: 50%;

  background-color: var(--leo);
}

#kochab {
  position: absolute;

  height: 30px;
  width: 30px;

  top: 1122px;
  left: 1197px;

  border-radius: 50%;

  /* background-color: rgba(255, 0, 0, 0.15); */
  background-color: var(--pisces);
}
#pherkad {
  position: absolute;

  height: 35px;
  width: 35px;

  top: 1185px;
  left: 1195px;

  border-radius: 50%;

  /* background-color: rgba(255, 0, 0, 0.15); */
  background-color: var(--pisces);
}
#epsilonUrsae {
  position: absolute;

  height: 35px;
  width: 35px;

  top: 1085px;
  left: 1047px;

  border-radius: 50%;

  /* background-color: rgba(255, 0, 0, 0.15); */
  background-color: var(--pisces);
}
#zetaUrsae {
  position: absolute;

  height: 32px;
  width: 32px;

  top: 1117px;
  left: 1117px;

  border-radius: 50%;

  /* background-color: rgba(255, 0, 0, 0.15); */
  background-color: var(--pisces);
}
#etaUrsae {
  position: absolute;

  height: 38px;
  width: 38px;

  top: 1175px;
  left: 1104px;

  border-radius: 50%;

  /* background-color: rgba(255, 0, 0, 0.15); */
  background-color: var(--pisces);
}
#yildun {
  position: absolute;

  height: 43px;
  width: 43px;

  top: 1038px;
  left: 1005px;

  border-radius: 50%;

  /* background-color: var(--virgo); */
  background-color: var(--pisces);
}
