#aries {
  position: absolute;
  background-image: url('/ressources/images/aries.png');
  background-size: cover;

  height: 200px;
  width: 200px;

  left: 650px;
  z-index: +2;
}

#taurus {
  position: absolute;
  background-image: url('/ressources/images/taurus.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1200px;
  z-index: +2;
}

#gemini {
  position: absolute;
  background-image: url('/ressources/images/gemini.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1650px;
  top: 180px;
  z-index: +2;
}

#cancer {
  position: absolute;
  background-image: url('/ressources/images/cancer.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1790px;
  top: 650px;
  z-index: +2;
}

#leo {
  position: absolute;
  background-image: url('/ressources/images/leo.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1800px;
  top: 1150px;
  z-index: +2;
}

#virgo {
  position: absolute;
  background-image: url('/ressources/images/virgo.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1650px;
  top: 1600px;
  z-index: +2;
}

#libra {
  position: absolute;
  background-image: url('/ressources/images/libra.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 1200px;
  top: 1790px;
  z-index: +2;
}

#scorpio {
  position: absolute;
  background-image: url('/ressources/images/scorpio.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 650px;
  top: 1790px;
  z-index: +2;
}

#sagittarius {
  position: absolute;
  background-image: url('/ressources/images/sagittarius.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 200px;
  top: 1600px;
  z-index: +2;
}

#capricorn {
  position: absolute;
  background-image: url('/ressources/images/capricorn.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  top: 1150px;
  z-index: +2;
}

#aquarius {
  position: absolute;
  background-image: url('/ressources/images/aquarius.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  top: 650px;
  z-index: +2;
}
#pisces {
  position: absolute;
  background-image: url('/ressources/images/pisces.png');
  background-size: cover;
  height: 200px;
  width: 200px;

  left: 200px;
  top: 180px;
  z-index: +2;
}

#playGround > div:not(.universe):hover,
.universe > div:hover {
  filter: brightness(2);
  cursor: pointer;
}
/* --------------------ursa minor--------------------- */
/* --------------------ursa minor--------------------- */
/* --------------------ursa minor--------------------- */
.star {
  position: absolute;
  border-radius: 50%;
}

#polaris {
  height: 105px;
  width: 105px;
  top: 925px;
  left: 950px;
  background-color: var(--aries);
}
#yildun {
  height: 43px;
  width: 43px;
  top: 1038px;
  left: 1005px;
  background-color: var(--aries);
}
#epsilon_ursae {
  height: 35px;
  width: 35px;
  top: 1085px;
  left: 1047px;
  background-color: var(--aries);
}
#zeta_ursae {
  height: 32px;
  width: 32px;
  top: 1117px;
  left: 1117px;
  background-color: var(--aries);
}
#kochab {
  height: 30px;
  width: 30px;
  top: 1122px;
  left: 1197px;
  background-color: var(--gemini);
}

#pherkad {
  height: 35px;
  width: 35px;
  top: 1185px;
  left: 1195px;
  background-color: var(--virgo);
}

#eta_ursae {
  height: 38px;
  width: 38px;
  top: 1175px;
  left: 1104px;
  background-color: var(--libra);
}

/* -----------serpens caput------------- */
/* -----------serpens caput------------- */
/* -----------serpens caput------------- */

#unukalhai {
  height: 38px;
  width: 38px;
  top: 1402px;
  left: 1064px;
  background-color: var(--libra);
}
#beta_serpentis {
  height: 38px;
  width: 38px;
  top: 1411px;
  left: 1162px;
  background-color: var(--virgo);
}
#gamma_serpentis {
  height: 39px;
  width: 39px;
  top: 1467px;
  left: 1178px;
  background-color: var(--virgo);
}
#delta_serpentis {
  height: 43px;
  width: 43px;
  top: 1565px;
  left: 1215px;
  background-color: var(--virgo);
}
#epsilon_serpentis {
  height: 49px;
  width: 49px;
  top: 1563px;
  left: 1350px;
  background-color: var(--virgo);
}
#zeta_serpentis {
  height: 46px;
  width: 46px;
  top: 1513px;
  left: 1397px;
  background-color: var(--virgo);
}
#eta_serpentis {
  height: 40px;
  width: 40px;
  top: 1588px;
  left: 1420px;
  background-color: var(--virgo);
}
#theta_serpentis {
  height: 55px;
  width: 55px;
  top: 1641px;
  left: 1415px;
  background-color: var(--virgo);
}
/* berenices */
#beta_berenices {
  height: 55px;
  width: 55px;
  top: 1465px;
  left: 1270px;
  background-color: var(--virgo);
}
#alpha_berenices {
  height: 42px;
  width: 42px;
  top: 1343px;
  left: 1403px;
  background-color: var(--leo);
}
#gamma_berenices {
  height: 45px;
  width: 45px;
  top: 1451px;
  left: 1533px;
  background-color: var(--virgo);
}
/* ``````````````````leo minor */
/* ``````````````````leo minor */
/* ``````````````````leo minor */

#alpha_leonis_minoris {
  height: 52px;
  width: 52px;
  top: 1252px;
  left: 1494px;
  background-color: var(--leo);
}
#Beta_leonis_minoris {
  height: 52px;
  width: 52px;
  top: 1043px;
  left: 1510px;
  background-color: var(--leo);
}
#epsilon_leonis_minoris {
  height: 51px;
  width: 51px;
  top: 915px;
  left: 1504px;
  background-color: var(--leo);
}
#kappa_leonis_minoris {
  height: 54px;
  width: 54px;
  top: 930px;
  left: 1590px;
  background-color: var(--leo);
}
#zeta_leonis_minoris {
  height: 53px;
  width: 53px;
  top: 760px;
  left: 1575px;
  background-color: var(--cancer);
}
/* --------lynx------ */
/* --------lynx------ */
/* --------lynx------ */

#alsciaukat {
  height: 53px;
  width: 53px;
  top: 854px;
  left: 1309px;
  background-color: var(--cancer);
}
#phi_lyncis {
  height: 36px;
  width: 36px;
  top: 799px;
  left: 1309px;
  background-color: var(--cancer);
}
#epsilon_lyncis {
  height: 65px;
  width: 65px;
  top: 799px;
  left: 1359px;
  background-color: var(--cancer);
}
#nu_lyncis {
  height: 30px;
  width: 30px;
  top: 760px;
  left: 1385px;
  background-color: var(--cancer);
}
#delta_lyncis {
  height: 47px;
  width: 47px;
  top: 760px;
  left: 1453px;
  background-color: var(--cancer);
}
#kappa_lyncis {
  height: 67px;
  width: 67px;
  top: 677px;
  left: 1556px;
  background-color: var(--cancer);
}
#lambda_lyncis {
  height: 44px;
  width: 44px;
  top: 578px;
  left: 1605px;
  background-color: var(--cancer);
}
#omega_lyncis {
  height: 57px;
  width: 57px;
  top: 547px;
  left: 1656px;
  background-color: var(--cancer);
}
/* ------auriga-------- */
/* ------auriga-------- */
/* ------auriga-------- */
#capella {
  height: 48px;
  width: 48px;
  top: 448px;
  left: 1058px;
  background-color: var(--taurus);
}
#menkalinan {
  height: 64px;
  width: 64px;
  top: 514px;
  left: 1165px;
  background-color: var(--gemini);
}
#mahasim {
  height: 52px;
  width: 52px;
  top: 582px;
  left: 1261px;
  background-color: var(--gemini);
}
#hassaleh {
  height: 59px;
  width: 59px;
  top: 548px;
  left: 1424px;
  background-color: var(--cancer);
}
#almaaz {
  height: 54px;
  width: 54px;
  top: 435px;
  left: 1410px;
  background-color: var(--gemini);
}
#theta_aurigae {
  height: 60px;
  width: 60px;
  top: 405px;
  left: 1209px;
  background-color: var(--gemini);
}
/* ------cassiopeia------- */
/* ------cassiopeia------- */
/* ------cassiopeia------- */
#schedar {
  height: 57px;
  width: 57px;
  top: 618px;
  left: 784px;
  background-color: var(--aries);
}
#saph {
  height: 54px;
  width: 54px;
  top: 448px;
  left: 757px;
  background-color: var(--aries);
}
#tsih {
  height: 53px;
  width: 53px;
  top: 452px;
  left: 917px;
  background-color: var(--taurus);
}
#ruchbah {
  height: 67px;
  width: 67px;
  top: 326px;
  left: 966px;
  background-color: var(--taurus);
}
#segin {
  height: 67px;
  width: 67px;
  top: 299px;
  left: 1145px;
  background-color: var(--taurus);
}
/* --------triangulum------ */
/* --------triangulum------ */
/* --------triangulum------ */
#beta_trianguli {
  height: 53px;
  width: 53px;
  top: 575px;
  left: 469px;
  background-color: var(--pisces);
}
#alpha_trianguli {
  height: 57px;
  width: 57px;
  top: 362px;
  left: 749px;
  background-color: var(--aries);
}
#gamma_trianguli {
  height: 69px;
  width: 69px;
  top: 277px;
  left: 684px;
  background-color: var(--aries);
}
/* ------pegasus------- */
/* ------pegasus------- */
/* ------pegasus------- */
#enif {
  height: 52px;
  width: 52px;
  top: 808px;
  left: 326px;
  background-color: var(--aquarius);
}
#scheat {
  height: 27px;
  width: 27px;
  top: 851px;
  left: 496px;
  background-color: var(--aquarius);
}
#markab {
  height: 52px;
  width: 52px;
  top: 693px;
  left: 527px;
  background-color: var(--pisces);
}
#algenib {
  height: 40px;
  width: 40px;
  top: 650px;
  left: 357px;
  background-color: var(--pisces);
}
#matar {
  height: 33px;
  width: 33px;
  top: 951px;
  left: 597px;
  background-color: var(--aquarius);
}
#homam {
  height: 45px;
  width: 45px;
  top: 814px;
  left: 545px;
  background-color: var(--pisces);
}
#salm {
  height: 65px;
  width: 65px;
  top: 872px;
  left: 680px;
  background-color: var(--pisces);
}
#niham {
  height: 59px;
  width: 59px;
  top: 646px;
  left: 688px;
  background-color: var(--aries);
}
#iotaPegasi {
  height: 57px;
  width: 57px;
  top: 715px;
  left: 756px;
  background-color: var(--aries);
}
/* ----delphinus----- */
/* ----delphinus----- */
/* ----delphinus----- */
#rotanev {
  height: 49px;
  width: 49px;
  top: 905px;
  left: 460px;
  background-color: var(--aquarius);
}
#sualocin {
  height: 67px;
  width: 67px;
  top: 970px;
  left: 400px;
  background-color: var(--capricorn);
}
#deneb {
  height: 57px;
  width: 57px;
  top: 1064px;
  left: 453px;
  background-color: var(--capricorn);
}
#gamma_delphini {
  height: 58px;
  width: 58px;
  top: 1275px;
  left: 588px;
  background-color: var(--sagittarius);
}
#delta_delphini {
  height: 58px;
  width: 58px;
  top: 983px;
  left: 488px;
  background-color: var(--capricorn);
}
/* -------lyra-------- */
/* -------lyra-------- */
/* -------lyra-------- */
#vega {
  height: 50px;
  width: 50px;
  top: 1239px;
  left: 365px;
  background-color: var(--capricorn);
}
#sheliak {
  height: 62px;
  width: 62px;
  top: 1261px;
  left: 445px;
  background-color: var(--capricorn);
}
#sulafat {
  height: 33px;
  width: 33px;
  top: 1188px;
  left: 424px;
  background-color: var(--capricorn);
}
#delta_lyrae {
  height: 47px;
  width: 47px;
  top: 1360px;
  left: 460px;
  background-color: var(--capricorn);
}
#zeta_lyrae {
  height: 39px;
  width: 39px;
  top: 1458px;
  left: 636px;
  background-color: var(--sagittarius);
}
#epsilon_lyrae {
  height: 50px;
  width: 50px;
  top: 1363px;
  left: 624px;
  background-color: var(--sagittarius);
}
/* -------scutum----- */
/* -------scutum----- */
/* -------scutum----- */
#alpha_scuti {
  height: 59px;
  width: 59px;
  top: 1448px;
  left: 489px;
  background-color: var(--sagittarius);
}
#beta_scuti {
  height: 44px;
  width: 44px;
  top: 1594px;
  left: 664px;
  background-color: var(--scorpio);
}
#delta_scuti {
  height: 40px;
  width: 40px;
  top: 1618px;
  left: 829px;
  background-color: var(--scorpio);
}
#gamma_scuti {
  height: 41px;
  width: 41px;
  top: 1532px;
  left: 703px;
  background-color: var(--sagittarius);
}
/* ----cauda serpens */
/* ----cauda serpens */
/* ----cauda serpens */
#iota_serpentis {
  height: 51px;
  width: 51px;
  top: 1399px;
  left: 756px;
  background-color: var(--sagittarius);
}
#xi_serpentis {
  height: 60px;
  width: 60px;
  top: 1473px;
  left: 848px;
  background-color: var(--scorpio);
}
#mu_serpentis {
  height: 57px;
  width: 57px;
  top: 1605px;
  left: 917px;
  background-color: var(--scorpio);
}
#rho_serpentis {
  height: 46px;
  width: 46px;
  top: 1672px;
  left: 927px;
  background-color: var(--scorpio);
}
#sigma_serpentis {
  height: 61px;
  width: 61px;
  top: 1624px;
  left: 989px;
  background-color: var(--scorpio);
}
/* ----draco----- */
/* ----draco----- */
/* ----draco----- */
#etamin {
  height: 48px;
  width: 48px;
  top: 1540px;
  left: 1017px;
  background-color: var(--libra);
}
#rastaban {
  height: 49px;
  width: 49px;
  top: 1530px;
  left: 1087px;
  background-color: var(--libra);
}
#altais {
  height: 27px;
  width: 27px;
  top: 1483px;
  left: 1090px;
  background-color: var(--libra);
}
#eldib {
  height: 27px;
  width: 27px;
  top: 1474px;
  left: 1029px;
  background-color: var(--libra);
}
#athebyne {
  height: 44px;
  width: 44px;
  top: 1291px;
  left: 909px;
  background-color: var(--libra);
}
#thuban {
  height: 52px;
  width: 52px;
  top: 1246px;
  left: 983px;
  background-color: var(--libra);
}
#tyl {
  height: 39px;
  width: 39px;
  top: 1326px;
  left: 1088px;
  background-color: var(--libra);
}
#gianfar {
  height: 56px;
  width: 56px;
  top: 1365px;
  left: 1231px;
  background-color: var(--virgo);
}
#grumium {
  height: 59px;
  width: 59px;
  top: 1162px;
  left: 1322px;
  background-color: var(--leo);
}
#kuma {
  height: 59px;
  width: 59px;
  top: 1015px;
  left: 1294px;
  background-color: var(--leo);
}
#arrakis {
  height: 58px;
  width: 58px;
  top: 935px;
  left: 1313px;
  background-color: var(--leo);
}
/* ----ursa major---- */
/* ----ursa major---- */
/* ----ursa major---- */
#dubhe {
  height: 61px;
  width: 61px;
  top: 661px;
  left: 945px;
  background-color: var(--taurus);
}
#merak {
  height: 59px;
  width: 59px;
  top: 721px;
  left: 978px;
  background-color: var(--taurus);
}
#phad {
  height: 53px;
  width: 53px;
  top: 834px;
  left: 1114px;
  background-color: var(--gemini);
}
#megrez {
  height: 57px;
  width: 57px;
  top: 786px;
  left: 1148px;
  background-color: var(--gemini);
}
#alioth {
  height: 45px;
  width: 45px;
  top: 698px;
  left: 1036px;
  background-color: var(--taurus);
}
#mizar {
  height: 46px;
  width: 46px;
  top: 910px;
  left: 1137px;
  background-color: var(--gemini);
}
#alkaid {
  height: 59px;
  width: 59px;
  top: 935px;
  left: 1190px;
  background-color: var(--gemini);
}
#tania {
  height: 65px;
  width: 65px;
  top: 685px;
  left: 1260px;
  background-color: var(--gemini);
}
#alula_borealis {
  height: 47px;
  width: 47px;
  top: 646px;
  left: 1159px;
  background-color: var(--gemini);
}
#alula_australis {
  height: 44px;
  width: 44px;
  top: 602px;
  left: 1052px;
  background-color: var(--taurus);
}
/* -----camelopardus---- */
/* -----camelopardus---- */
/* -----camelopardus---- */
#beta_camelopardalis {
  height: 49px;
  width: 49px;
  top: 1013px;
  left: 626px;
  background-color: var(--aquarius);
}
#cs_camelopardalis {
  height: 42px;
  width: 42px;
  top: 985px;
  left: 730px;
  background-color: var(--aquarius);
}
#alpha_camelopardalis {
  height: 66px;
  width: 66px;
  top: 977px;
  left: 822px;
  background-color: var(--pisces);
}
#gamma_camelopardalis {
  height: 56px;
  width: 56px;
  top: 865px;
  left: 769px;
  background-color: var(--pisces);
}
#iota_camelopardalis {
  height: 42px;
  width: 42px;
  top: 800px;
  left: 698px;
  background-color: var(--pisces);
}
#sigma_camelopardalis {
  height: 50px;
  width: 50px;
  top: 754px;
  left: 587px;
  background-color: var(--pisces);
}
#zeta_camelopardalis {
  height: 57px;
  width: 57px;
  top: 775px;
  left: 889px;
  background-color: var(--aries);
}
#phi_camelopardalis {
  height: 51px;
  width: 51px;
  top: 849px;
  left: 1021px;
  background-color: var(--aries);
}
/* -----cepheus----- */
/* -----cepheus----- */
/* -----cepheus----- */
#alderamin {
  height: 67px;
  width: 67px;
  top: 1236px;
  left: 647px;
  background-color: var(--sagittarius);
}
#alfirk {
  height: 39px;
  width: 39px;
  top: 1289px;
  left: 760px;
  background-color: var(--sagittarius);
}
#errai {
  height: 46px;
  width: 46px;
  top: 1200px;
  left: 830px;
  background-color: var(--sagittarius);
}
#alradif {
  height: 46px;
  width: 46px;
  top: 1052px;
  left: 860px;
  background-color: var(--sagittarius);
}
#epsilon_cephei {
  height: 46px;
  width: 46px;
  top: 1142px;
  left: 725px;
  background-color: var(--sagittarius);
}
