#battleDialog {
  position: fixed;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.829);
  border: 10px solid rgba(245, 179, 179, 0.034);
  /* border-radius: 50%; */
}

#battleInterface {
  display: flex;
  /* display: none; */
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 11px;
  /* width: 400px; */
  /* height: 100%; */
  /* background-color: blue; */
  /* border-radius: 50%; */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#battleTitle {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100px;

  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  padding: 5px 30px;

  box-shadow: rgba(80, 79, 79, 0.199) 0px 2px 5px,
    rgba(27, 5, 5, 0.171) 0px 7px 5px -3px,
    rgba(24, 4, 4, 0.2) 0px -3px 5px inset;

  border-style: double;

  background-image: url(/ressources/images/logo.webp);
}
#battleTitle > .battleTitle {
  display: flex;
  color: white;
  font-size: 2rem;
}
#battleTitle > h4 {
  color: white;
  font-size: 1.3rem;
}

#avatars {
  width: 100%;
  height: 250px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

#avatars > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 200px;

  gap: 5px;

  border-radius: 5px;
  padding: 5px 30px;

  box-shadow: rgba(80, 79, 79, 0.4) 0px 2px 4px,
    rgba(27, 5, 5, 0.3) 0px 7px 13px -3px,
    rgba(24, 4, 4, 0.2) 0px -3px 0px inset;

  border-style: double;
}
#avatars > div > div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  /* width: 100%; */
  /* height: 80%; */
  /* background-color: aqua; */
}
#avatars > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* width: 100px; */
  font-size: 1rem;
  color: white;
  border-radius: 5px;
}
#avatars > div > div > div:nth-child(1) {
  background-color: rgba(0, 128, 0, 0.123);
}
#avatars > div > div > div:nth-child(2) {
  background-color: rgba(128, 0, 0, 0.185);
}

#avatars > div > div > div {
  display: flex;
  background-color: aqua;
}
#avatars div h4 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
#defender {
  background-image: url(/ressources/images/avatars/virgo/virgo1.webp);
  background-size: cover;

  box-shadow: rgba(77, 16, 16, 0.4) 0px 2px 4px,
    rgba(75, 7, 7, 0.3) 0px 7px 13px -3px,
    rgba(224, 211, 211, 0.2) 0px -3px 0px inset;
}
#attacker {
  background-image: url(/ressources/images/avatars/taurus/taurus1.webp);
  background-size: cover;

  box-shadow: rgba(77, 16, 16, 0.4) 0px 2px 4px,
    rgba(75, 7, 7, 0.3) 0px 7px 13px -3px,
    rgba(224, 211, 211, 0.2) 0px -3px 0px inset;
}

#summonEmpower > button {
  font-size: 1.5rem;
  color: white;
  background-color: rgb(0, 0, 0);

  height: 50px;

  border-radius: 5px;
  padding: 5px 30px;

  box-shadow: rgba(80, 79, 79, 0.4) 0px 2px 4px,
    rgba(27, 5, 5, 0.3) 0px 7px 13px -3px,
    rgba(24, 4, 4, 0.2) 0px -3px 0px inset,
    rgba(80, 79, 79, 0.4) -2px 2px 4px inset;

  border-style: double;

  cursor: pointer;
}
#summonEmpower > button:hover {
  background-color: rgb(27, 27, 27);
}

#summonEmpower {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
}

#userPower {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 1.5rem;
  color: white;
  /* background-color: rgb(0, 0, 0); */

  height: 50px;

  border-radius: 5px;
  padding: 5px 30px;

  visibility: hidden;
  /* box-shadow: rgba(80, 79, 79, 0.4) 0px 2px 4px,
    rgba(27, 5, 5, 0.3) 0px 7px 13px -3px,
    rgba(24, 4, 4, 0.2) 0px -3px 0px inset,
    rgba(80, 79, 79, 0.4) -2px 2px 4px inset; */
  /* border-radius: 20px; */
}

#soulsValue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#soulsNumber {
  font-size: 1.3rem;
  /* background-color: red; */
}
#up {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}
#up:hover {
  color: green;
}
#down {
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
}
#down:hover {
  color: red;
}

#hpAndDmg {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}
#hp {
  display: flex;
  gap: 3px;
}
#dmg {
  display: flex;
  gap: 3px;
}
