@font-face {
  font-family: 'antique';
  src: url('../ressources/fonts/AntiqueNo14.ttf');
}

/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rye&display=swap'); */

html {
  box-sizing: border-box;
  font-family: 'antique';
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  /* font-family: 'Rye'; */
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

body {
  background-image: url('/ressources/images/backgroundFlat.png');
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: ; */
}

header {
  /* background-color: hotpink; */
  display: flex;
  justify-content: center;
  /* height: 150px; */

  /* margin-bottom: 2rem; */
  /* margin-top: 1rem; */
}

header > h1 {
  /* color: white; */
  font-size: 11rem;
  font-weight: 900;
  text-align: center;

  background: linear-gradient(#ffffff, #504f4f);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: logo_glow 2s ease-in-out infinite;
}

@keyframes logo_glow {
  0% {
    filter: brightness(1.2);
  }
  50% {
    filter: brightness(1.4);
  }
  100% {
    filter: brightness(1.2);
  }
}

/* ---------------------------------------------------------------- */

#playGround {
  position: relative;

  width: 2000px;
  height: 2000px;
}
.universe {
  /* position: absolute; */

  display: flex;
  flex-wrap: wrap;
  width: 2000px;
  height: 2000px;

  /* background-image: url('/ressources/images/12gon.png');
  background-size: cover; */
}

/* ------------------------------------------- */
/* ------------------------------------------- */
/* ------------------------------------------- */
@media screen and (max-width: 600px) {
  body {
    display: block;
  }
  header {
    width: 400px;
    text-align: center;
  }
  h1 {
    width: 400px;
    font-size: 1rem;
  }
}
