#battleInterface {
  /* display: none; */
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  width: 400px;
  height: 500px;
  /* background-color: blue; */
}
#battleTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#battleTitle > h3 {
  color: white;
  font-size: 2rem;
}
#battleTitle > h4 {
  color: white;
  font-size: 1rem;
}

#avatars {
  width: 100%;
  height: 59%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

#avatars div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  border-radius: 20px;

  width: 50%;

  gap: 5px;
}
#avatars > div > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 100%; */
  height: 100%;
  /* background-color: aqua; */
}
#avatars > div > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: white;
}
#avatars > div > div > div:nth-child(1) {
  background-color: rgba(0, 128, 0, 0.185);
}
#avatars > div > div > div:nth-child(2) {
  background-color: rgba(128, 0, 0, 0.185);
}
#avatars div h4 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
#defender {
  /* background-color: green; */
  background-image: url(/ressources/images/avatars/virgo/virgo1.webp);
  background-size: cover;
}
#attacker {
  background-image: url(/ressources/images/avatars/taurus/taurus1.webp);
  background-size: cover;
}

#battleInterface > button {
  font-size: 2rem;
  border-radius: 20px;
  padding: 5px 30px;
}
